[submodule "scripts/i3-alternating-layout"]
	path = scripts/i3-alternating-layout
	url = https://github.com/olemartinorg/i3-alternating-layout.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
